.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-color: rgb(236, 234, 234);
}
.home h1{
    width: 70%;
    text-align: center;
}
.home .para p{
    margin-top: 10px;
    text-align: center; 
}
.home .btn{
    display: block;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    margin: 0 5px;
}
.home .header{
    background-color: #FF3E54;
    border-radius: 15px;
}
.home .header .title .text .text1{
    font-size: 50px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.home .header .title .text .text2{
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.home .header .title .buttons .button1{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 100px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: none;
}
.home .header .title .buttons .button2 {
    background-color: transparent; 
    color: #FFFFFF; 
    border-radius: 100px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: none;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
}
.home .card{
    height: 60vh;
    /* width: 100vw; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.home .card img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 /* filter: blur(6px); */
 transform: scale(1.1);
}
.home .card .title{
    position: absolute;
    top:0;
    left: 20px;
    color: #FFFFFF;
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}
.home .card .frame{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

.home .card .frame h2{
    font-size: 32px;
    margin-bottom: 12px;
}

.logo_strip{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}